# DISCORD
TEST_WEBHOOK_URL = "YOUR TEST WEBHOOK URL"

# PRIVATE
TEST_AVATAR_URL = "YOUR TEST AVATAR URL"
TEST_VIDEO_URL = "YOUR TEST VIDEO URL"

# BOT
TEST_BOT_TOKEN = "YOUR TEST BOT TOKEN"
TEST_CHANNEL_ID = "YOUR TEST CHANNEL ID"